#wrapper, html, body{
	overflow-x: hidden !important;
	width: 100%;
	margin: 0px !important;
	padding: 0px;
}
.navbar{
	background-color: #0097A7;
	color: white;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
h3{
	text-align: center;
	font-size: 1.5em;
	line-height: 1.2em;
	text-decoration: underline;
}
h1{
	text-align: center;
	text-decoration: underline;
}
h2{
	text-decoration: underline;
}
.center-block{
	width: 50%;
}
.left-rail, .right-rail{
	padding-left: 2em;
	margin-top: 5em;
    border-left: 2px solid black;
}
.form-input{
	width: 100%;
}
.half-form{
	width: 49%;
}
.form-layout{
	margin-left: .5em;
}
input, select{
	height: 3em;
	margin-top: .5em;
	border: 2px solid #980000;
}
form{
	text-align: center;
	border: 2px solid black;
	width: 23em;
	padding: 1em;
	background-color: #0097A7;

}
#form-button{
	width: 50%;
	height: 3em;
	margin-top: 2em;
	background-color: #980000;
	color: white;
}
footer{
	margin-top: 2em;
}
.btn-social-icon{
	font-size: 2em;
	color: #0097A7;
}
#home-info{
	margin-top: 2em;
}
legend{
	color: white;
}
.schedule{
	border: 2px solid #980000;
	text-align: center;
	height: 8em;
	padding-top: 2em;
}
.heading{
	background-color: #0097A7;
	color: white;
	padding-top: 1.5em;
}
.rate-heading{
	background-color: #0097A7;
	color: white;
}
.content{
	margin-left: 3em;
    margin-right: 3em;
}
#top-logo{
	text-align: center;
	margin-bottom: 2em;
}
.heading:nth-child(1), .rate-heading:nth-child(1){
	border-right: none;
}
.heading:nth-child(2), .rate-heading:nth-child(2){
	border-right: none;
}
.heading:nth-child(2), .rate-heading:nth-child(2){
	border-left: none;
}
.heading:nth-child(3), .rate-heading:nth-child(3){
	border-left: none;
}
p{
	margin: 0 -10px 10px;
	font-weight: bold;
	font-size: 16px;
}
.img-fluid{
	max-width: 100%;
	height: auto;
}
.outer{
	padding: 1.6em;
}
.grids{
	padding: 0;
}
.fraction{
	height: 10em;
}
#stat-ul{
	margin-top: 2em;
}
#logic-img{
	height: 10em;
    width: 100%;
}
#teachers{
	margin-left: -7em;
}
#pic{
	height: 25em;
	margin-left: 2em;
}
.red{
	color: #980000;
}
@media (max-width: 769px){
	.day{
		padding-top: 1.5em;
	}
	.time{
		padding-top: 1.5em;
	}
	.schedule{
		padding-top: 0;
	}
	.heading{
		padding-top: 1.5em;
	}
	#top-logo img{
		width: 100%;
	}
	.rate-heading{
		height: 11em;
	}
	.rates{
		padding-top: 2em;
	}
	p{
	margin: 0;
	}
	#teachers{
	margin-left: 0;
}
	
}
@media (min-width: 768px) and (max-width: 1023px){
	.location{
		padding-top: 1.5em;
	}
}