.navbar{
	background-color: #0097A7;
	color: white;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
h3{
	text-align: center;
	font-size: 1.6em;
	line-height: .3em;
}
.col-sm-3{
	background-color: #6EC44C;
	border: 1px solid black;
	margin: 5px;
	margin-top: 4em;
	height: 10em;
	color: white;

}
.center-block{
	width: 50%;
}
.left-rail{
	padding-left: 5em;
	color: #980000;
}
.form-input{
	width: 100%;
}
.half-form{
	width: 49%;
}
.form-layout{
	margin-left: 3em;
}
input, select{
	height: 3em;
	margin-top: .5em;
	border: 2px solid #980000;
}
form{
	text-align: center;
	border: 2px solid black;
	width: 23em;
	padding: 1em;
	background-color: #0097A7;

}
button{
	width: 50%;
	height: 3em;
	margin-top: 2em;
	background-color: #980000;
	color: white;
}
footer{
	margin-top: 2em;
}
.btn-social-icon{
	font-size: 2em;
	color: #0097A7;
}
#home-info{
	margin-top: 2em;
}
legend{
	color: white;
}