#wrapper, html, body{
	overflow-x: hidden !important;
	width: 100%;
	margin: 0px !important;
	padding: 0px;
}
.navbar{
	background-color: #0097A7;
	color: white;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
h3{
	text-align: center;
	font-size: 1.5em;
	line-height: .3em;
}
h1{
	text-align: center;
}
.center-block{
	width: 50%;
}
.left-rail, .right-rail{
	padding-left: 2em;
	color: #980000;
}
.form-input{
	width: 100%;
}
.half-form{
	width: 49%;
}
.form-layout{
	margin-left: 2em;
}
input, select{
	height: 3em;
	margin-top: .5em;
	border: 2px solid #980000;
}
form{
	text-align: center;
	border: 2px solid black;
	width: 23em;
	padding: 1em;
	background-color: #0097A7;

}
#form-button{
	width: 50%;
	height: 3em;
	margin-top: 2em;
	background-color: #980000;
	color: white;
}
footer{
	margin-top: 2em;
}
.btn-social-icon{
	font-size: 2em;
	color: #0097A7;
}
#home-info{
	margin-top: 2em;
}
legend{
	color: white;
}
.schedule{
	border: 1px solid #980000;
	text-align: center;
	height: 6em;
	padding-top: 2em;
}
.heading{
	background-color: #0097A7;
	color: white;
	padding-top: 1.5em;
}
.content{
	margin-left: 3em;
    margin-right: 3em;
}
#top-logo{
	text-align: center;
	margin-bottom: 2em;
}
@media (max-width: 769px){
	.day{
		padding-top: 2em;
	}
	.time{
		padding-top: 1em;
	}
	.schedule{
		padding-top: 0;
	}
	.heading{
		padding-top: 1.5em;
	}
	#top-logo img{
		width: 100%;
	}

}